{% extends 'base.html' %}

{% block title %}
{% if category == None %}All Products
{% elif category %} {{category.name}}
{% endif %}

{% endblock title %}

{% block content %}
    <!-- main -->
    <div class="main-container">
        <div class="side">
            <h3>Categories</h3>
            <ul>
                <li {% if category == None %} class="active" {% endif %}><a href="{% url 'product_list' %}">All</a></li>
                {% for c in categories %}
                <li {% if c.slug == category.slug %} class="active" {% endif %}><a href="{% url 'product_list_by_category' c.slug %}">{{c.name}}</a></li>
                {% endfor %}
                
            </ul>
        </div>
        <div class="main">
            {% for product in  products %}
            <div class="product">
                <a href="{% url 'product_detail' product.id product.slug %}"><img src="{{product.image.url}}" alt="image"></a>
                <h2>{{product.name}}</h2>
                <p class="price">${{product.price}}</p>
                <p class="description">{{product.description|truncatewords:10}}</p>
                <a href="#" class="btn">Add To Cart</a>
            </div>
            
            {% endfor %}
           
        </div>
    </div>
{% endblock content %}